<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white hover-pointer" [routerLink]="loggedIn == true ? recipesLink : authLink">
      <i class="fas fa-carrot"></i>
      Smoothies
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="unCollapse = !unCollapse;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show': unCollapse}">
        <ul class="navbar-nav">
          <li *ngIf="loggedIn"  class="nav-item">
            <a class="nav-link" [routerLink]="recipesLink">Recipes</a>
          </li>
          <li *ngIf="loggedIn" class="nav-item logout-button hover-pointer">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
</nav>