<div class="card my-3">
    <div class="card-body">
          <h1 class="h5 text-primary">{{ recipeName }}
            <small>smoothie</small>
          </h1>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let ingredient of recipeIngredients">
              {{ ingredient.name }}
              <span class="float-right">
                  ({{ ingredient.quantity}})
              </span>
            </li>
          </ul>
    </div>
    <div *ngIf="isAdminLoggedIn" class="card-footer text-muted">
      <button class="btn" (click)="editRecipe()">
          <i class="fas fa-edit"></i>        
      </button>
      <button class="btn float-right" (click)="deleteRecipe()">
          <i class="far fa-trash-alt"></i>
      </button>
    </div>
</div>

