<!-- <button class="btn btn-danger btn-block" (click)="editRecipe()">
    Edit recipe in firebase
</button> -->

<cdk-virtual-scroll-viewport itemSize="50" class="cdk-viewport card mt-2" *ngIf="!refresh">
    <h5 class="card-header bg-dark text-white">Quick Smoothie Recipes</h5>
    <div class="row">
        <div *cdkVirtualFor="let recipe of recipes; trackBy: trackElement" class="col-12 col-md-4">
            <app-smoothie-recipe
             [recipeName]="recipe.title"
             [recipeIngredients]="recipe.ingredients.slice()"></app-smoothie-recipe>
          </div>
    </div>
</cdk-virtual-scroll-viewport>
