<form class="text-left" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
    <small class="form-text text-muted mt-2 mb-4 text-center">Please enter the following details to signup.</small>

    <div class="row mb-3">
        <div class="col">
            <label for="first-name">First Name</label>
            <input
             type="text"
             class="form-control"
             id="first-name"
             name="firstName"
             placeholder="First name"
             ngModel
             #firstName="ngModel"
             required>
             <small
              class="form-text text-danger mt-2 mb-4 text-center"
              *ngIf="(firstName.touched && firstName.errors) && (firstName.errors.required)">Please enter your first name.</small>
        </div>
        <div class="col">
            <label for="last-name">Last Name</label>
            <input
             type="text"
             class="form-control"
             id="last-name"
             name="lastName"
             placeholder="Last name"
             ngModel
             #lastName="ngModel"
             required>
             <small
              class="form-text text-danger mt-2 mb-4 text-center"
              *ngIf="(lastName.touched && lastName.errors) && (lastName.errors.required)">Please enter your last name.</small>
        </div>
    </div>

    <div class="form-group">
        <label for="birthday">Date of birth</label>
        <div class="input-group">
            <input
             id="birthday"
             class="form-control"
             placeholder="yyyy-mm-dd"
             name="datepicker"
             ngbDatepicker
             #d="ngbDatepicker"
             [minDate]="minDate"
             [maxDate]="maxDate"
             ngModel
             #date="ngModel"
             required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                    <i class="fas fa-calendar-alt"></i>
                </button>
            </div>
        </div>
        <small
         class="form-text text-danger mt-2 mb-4 text-center"
         *ngIf="(date.touched && date.errors) && (date.errors.required)">Please enter your date of birth.</small>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input
         type="email"
         class="form-control"
         id="email"
         name="email"
         placeholder="Enter email"
         ngModel
         #email="ngModel"
         required
         email>
         <small
          class="form-text text-danger mt-2 mb-4 text-center"
          *ngIf="(email.touched && email.errors) && (email.errors.required)">Please enter your email.</small>
          <small
           class="form-text text-danger mt-2 mb-4 text-center"
           *ngIf="(email.touched && email.errors) && (email.errors.email)">Please enter a valid email id.</small>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input
         type="text"
         class="form-control"
         id="username"
         name="username"
         placeholder="Username"
         ngModel
         #username="ngModel"
         required
         minlength="4">
         <small
          class="form-text text-danger mt-2 mb-4 text-center"
          *ngIf="(username.touched && username.errors) && (username.errors.required)">Please enter a username.</small>
         <small
          class="form-text text-danger mt-2 mb-4 text-center"
          *ngIf="(username.dirty && username.errors) && (username.errors.minlength)">Username has to be atleast 4 characters.</small>
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <input
         type="password"
         class="form-control"
         id="password"
         name="password"
         placeholder="Password"
         ngModel
         #password="ngModel"
         required
         minlength="8">
         <small
          class="form-text text-danger mt-2 mb-4 text-center"
          *ngIf="(password.touched && password.errors) && (password.errors.required)">Please enter your password.</small>
         <small
          class="form-text text-danger mt-2 mb-4 text-center"
          *ngIf="(password.dirty && password.errors) && (password.errors.minlength)">Password has to be atleast 8 characters.</small>
    </div>

    <button type="submit" class="btn btn-outline-dark btn-block" [disabled]="signUpForm.invalid">Signup</button>
</form>
