/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  font-family: 'Raleway', sans-serif;
}

/* Custom class placed here so as to be applied to various elements throughout the app. */
.hover-pointer:hover {
	cursor: pointer;
}